html, body
{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: grey;
}
#mainarea{
  height: 75%;
  width: 100%;
}
#searchbox{
  padding: 0px 10px;
  width: 22%;
  height: 100%;
  float: left;
  background-color: grey;
}
#map{
  height: 100%;
  width: 75%;
  float:right;
}
#places{
  padding-left: 0px;
  list-style-type: none;
  width: 75%;
}
.placeitems{
  margin: 20px 0px;
}
.placeitems a{
text-decoration: none;
}
.placeitems a:visited{
  color: black;
}
#search{
  height: 30px;
  width: 100%;
}

#details{
  height: 25%;
  background-color: #c2beb0;
}
#wiki{
  height: 80%;
  width:auto;
  float: left;
  padding: 10px;
}

#wiki h4, #nyt h4{
  margin-top: 5px;
}
