html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   background-color: #c2beb0;
   padding: 0;
}
#mainarea {
  height: 75%;
  width: 100%;
}
#searchbox {
  height: 50%;
  padding: 0px 10px;
  background-color: grey;
}
#searchbox h3 {
  margin: 0px;
}
#map {
  height: 50%;
}
#places {
  list-style-type: none;
  width: 75%;
  margin: 0px;
}
.placeitems {
  margin-top: 5%;
}
.placeitems a {
text-decoration: none;
}
.placeitems a:visited {
  color: black;
}
#search {
  height: 20px;
  width: 80%;
  position: center;
}

#details {
  margin-top: 0px;
  height: auto;
  background-color: #c2beb0;
}
#wiki {
  width:auto;
  padding: 10px;
}

#wiki h4, #nyt h4 {
  margin-top: 5px;
}
